$color1: #17252A;
$color2: #2b7A78;
$color3: #3AAFA9;
$color4: #DEF2F1;
$color5: #FEFFFF;
$color6: #A49CBB;
* {
  box-sizing: border-box; 
 }
 body {
   margin: 0;
 }
 .mainApp {
   display: flex;
   min-height: calc(100vh - 40vh);
 }
 .articleApp > .mainApp {
   flex: 1;
 }
 .articleApp, aside {
   padding: 1em;
 }
 aside {
  max-width: 15em;
 }
 header{
   background: $color3;
   height: 5vh;
 }