$color1: #17252A;
$color2: #2b7A78;
$color3: #3AAFA9;
$color4: #DEF2F1;
$color5: #FEFFFF;
$color6: #A49CBB;

.mainHeader {
  display: inline;
}

h4 {
  margin: 0;
  padding-top: .7em;
  color: $color5;

}