$color1: #17252A;
$color2: #2b7A78;
$color3: #3AAFA9;
$color4: #DEF2F1;
$color5: #FEFFFF;
$color6: #A49CBB;

.mainHeader {
  display: inline;
  margin: 0;


}

h4 {
  // margin: 0;
  color: $color5;

  display: inline-block;
  margin: 0;
  
}

.logo {
  margin-top: 5px;
  height: 2em;
  border: #fff solid;
  border-radius: 3em;

}