$color1: #17252A;
$color2: #2b7A78;
$color3: #3AAFA9;
$color4: #DEF2F1;
$color5: #FEFFFF;
$color6: #A49CBB;

.mainHeader {
  display: inline;
  margin: 0;
  top: 0;

}

h4 {

  color: $color5;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  line-height: 0
}

.logo {
  clear: left;
  margin-top:7px;
  height: 2em;
  width:2em;
  border: #fff solid;
  border-radius: 3em;
  line-height: 0
}